:root {
    --primary: #C1121F;
    --secondary: #212121;
    --accent: #2F4366;
    --light: #FEF0D5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', 'sans-serif';
    background-color: #f0f0f0;
}

a{
    outline: none;
    text-decoration: none;
}

.btn-custom{
    margin-top: 3px;
    display: inline-block;
    padding: 6px 20px;
    font-size: 15px;
    color: #fff;
    background-color: var(--primary);
    border-radius: 80px;
    cursor: pointer;
    font-style: normal;

    &:hover{
        background: var(--light);
        border:1px solid var(--primary);
        color: var(--primary);
    }
}

.btn-lihat{
    background-color: var(--accent);
    border: none;
    color: #fff;

    &:hover{
        background: var(--light);
        border:1px solid var(--accent);
        color: var(--accent);
    }
}

.badge1{
    padding: 3px 12px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background-color: var(--primary);
    border-radius: 80px;
    cursor: pointer;
    font-style: normal;
    font-weight: 200;
}

.badge2{
    padding: 3px 12px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background-color: var(--accent);
    border-radius: 80px;
    cursor: pointer;
    font-style: normal;
    font-weight: 200;
}



/* Navbar */
/* .navbar{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand img {
  max-height: clamp(48px, 7.5vw, 65px); 
}

.navbar,
.offcanvas-header,
.offcanvas-body {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.navbar-nav .nav-link,
.dropdown-menu .dropdown-item {
  font-size: 0.9rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.navbar-nav .nav-link {
    color: var(--secondary);

    &:hover{
        color: var(--primary);
    }

    &:active{
        color: var(--primary);
    }
}

.dropdown-menu .dropdown-item:hover{
    background-color: var(--light);
    color: var(--primary);

    &:active{
        background-color: var(--primary);
        color: #fff;
    }
}

.navbar-nav .nav-item .active {
  background: none;
  border-bottom: 2px solid var(--primary) ;
  color: #000;
}


/* Transisi hanya aktif di layar lebar (>=992px) */
@media (min-width: 992px) {
  .navbar .dropdown-menu {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: block;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar .dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
  } 
  /* .navbar .navbar-brand img{
    max-height: 50px;
  } */
} */


/* Berita */
.img-berita{
  cursor: pointer;
}
/* .cover-img-container {
  height: 380px;
  overflow: hidden;
} */

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}


.aspect-ratio-box {
  aspect-ratio: 16 / 9;
  overflow: hidden;
}




/* Galeri */
.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* Kontak */
.custom-table th, .custom-table td {
    vertical-align: middle;
    font-size: 15px;
}

.custom-table thead th {
    background-color: var(--primary);
    color: #fff;
}


#map {
    width: 100%;
    height: 100%;
    min-height: 412px;
    border-radius: 0.5rem;
    position: relative; 
    z-index: 1;

}
.map-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
@media (max-width: 768px) {
    .map-wrapper {
      padding-top: 2rem;
    }
}


/* Struktur pemerintahan */
.section-title {
  color: var(--primary);
  font-weight: bold;
  text-align: start;
  margin: 0;
}

.struktur-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: auto;
}

.section-subtitle {
  color: var(--primary);
  font-weight: bold;
  text-align: start;
  margin: 0;
}


.row.g-2 .row-aparat {
  row-gap: 1rem;
  column-gap: 1rem;
}

.aparat-card {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.2s ease;
  margin-top: 1rem;
}

.aparat-card:hover {
  transform: translateY(-5px);
}

.card-aparat-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 15px;
}

.aparat-photo {
  width: 200px;
  height: 250px;
  object-fit: cover;
  /* border: 2px solid #ddd; */
  margin-bottom: 10px;
}


.aparat-nama {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 4px;
}

.aparat-jabatan {
  text-transform: capitalize;
  font-size: 0.9rem;
}


@media (max-width: 992px) and (min-width: 577px) {
  .col-sm-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .aparat-card {
    max-width: 300px;
    margin: 10px auto;
  }

}

@media (max-width: 576px) {
  .col-sm-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .aparat-card {
    height: auto;
    max-width: 250px; 
    margin: 0 auto;
    margin-top: 1rem; 
    
  }

  .card-aparat-body {
    height: auto;
  }
}

/* Peraturan desa */
.peraturan-table .btn-unduh{
    background-color: var(--primary);
    border: none;
    color: #fff;
}



/* Potensi Desa */
.img-potensi{
  cursor: pointer;
}






/* footer */
footer .container{
    font-size: smaller;
    padding-top: 5px;
}
